:root {
  --c-prymary: #1cb4b4;
  --c-secundary: #4fc0c0;
  --c-gray: #807f7f;
  --c-lighgray: #d8d4d4;
  --c-white: #ffffff;
  --c-button: #a0e840;
  --f-font: 'KoHo';
}
$small: 576px;
$large: 992px;
